.form fieldset {
  column-gap: spacing(1);
  display: grid;
  grid-template-columns: 1fr;
  margin-top: margin(2);
  padding: 0;
  row-gap: spacing(1.5);

  @include util.mq(bp.$medium-small) {
    grid-template-columns: 1fr 1fr;
  }
}

.form > div {
  justify-content: center;
  margin-left: 0;
}

.heading {
  @include type.heading-medium();

  font-weight: bold;
  margin-bottom: margin(1);
}

.size-rent-location {
  display: grid;

  @include util.mq(bp.$medium-small) {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

.checkbox-group {
  @include util.mq(bp.$medium-small) {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

.span-columns {
  grid-column: 1/-1;
}

.submit {
  margin-top: margin(2);
  padding: padding(1) padding(5);
}

.size-rent-location,
.checkbox-group {
  background-color: col.$light;
  border: 1px solid col.$grey-500 !important;
  border-radius: $border-radius;
  margin: margin(2) margin(0.2) 0 !important;
  padding: padding(2) !important;
}
